<div class="side-top">
  <a class="user-name" href="#">Tom</a>
  <a class="new-chat" href="#">チャットを作成する</a>
</div>
<div class="side-bar">
  <a class="chat-room" href="#">room1</a>
  <a class="chat-room" href="#">room2</a>
  <a class="chat-room" href="#">room3</a>
  <a class="chat-room" href="#">room4</a>
  <a class="chat-room" href="#">room5</a>
  <a class="chat-room" href="#">room6</a>
  <a class="chat-room" href="#">room7</a>
  <a class="chat-room" href="#">room8</a>
  <a class="chat-room" href="#">room9</a>
  <a class="chat-room" href="#">room10</a>
  <a class="chat-room" href="#">room11</a>
  <a class="chat-room" href="#">room12</a>
</div>

